.overlayStyle {
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: 'center';
    width: 1000px;
    height: 500px;
    margin:auto;
    border-radius: 30px;
    box-shadow: 4px 8px 8px 4px  #872e55;
    .modalStyles {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        width: 200px;
        height: 300px;
        .buttonStyle{
            background-color: violet;
        }
       
       
      }
  }
  
