nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 4.3rem;
  width: 100%;
  height: 4px;
  //background: violet;
  //box-shadow: 0px 0px 10px 2px violet;
  //animation: shadowMove 4s linear infinite; /* Infinite animation */
}

/* Define the shadow movement keyframe animation */
@keyframes shadowMove {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}
nav {
    background-color: #3e051e;
    padding: 10px;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap:3rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;

    }
  nav a:hover{
    text-decoration: underline;
   
  }
  
  /* Add shadow animation */
