
nav {
    background-color: #3e051e;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
   
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
