@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@400..900&display=swap');
body{
  background-color: rgb(70, 44, 44);
  font-family:"Orbitron", sans-serif; 
  overflow-x: hidden;
}